<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.fourguys.mapper.AreaMapper">
<select id="findAllArea" parameterType="string" resultType="org.kosta.fourguys.vo.AreaVO">
	select * from "JEJU_AREA" 
		<where>
			<if test="title!=null and title!=''">
			 "title" like '%' || #{title} || '%'
			</if>	
	</where>
</select>
</mapper>